{% extends 'books/base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-4">
        <a href="{% url 'home' %}" class="my-3 btn btn-dark btn-sm">Go Back</a>
        <div class="card shadow-lg">
            <div class="card-body">
                <form method="POST" action="">
                    <!-- Prevents from malicious intends -->
                    {% csrf_token %}
                    <p>Are you sure you want to delete the book '<b>{{ book.title | upper }}</b>?'</p>
                    <button type="submit" class="btn btn-danger btn-block mb-4">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}